/* Main Rules */
.separator {background: #45cc02;}
.tooltip-inner {background-color: #7b7c7c;}
.tooltip.top .tooltip-arrow {border-top-color: #7b7c7c;}
::-moz-selection {background: #45cc02;}
::selection {background: #45cc02;}
.btn-custom {border: 1px solid #45cc02;}
.btn-custom:hover {background: #45cc02;}
.btn-custom.reverse {background: #7b7c7c;}
.btn-custom.reverse:hover {border: 1px solid #45cc02;}
.btn-custom.light:hover {color: #45cc02 !important;}

/* Color-Box Switch */
.color-switcher h6 {background: #45cc02;}
.color-switcher .switcher-btn {background: #45cc02;}
.color-switcher .map-styles li a:hover {background: #45cc02;}

/* Home Section */
#home .navbar span.colored-brand {background: #45cc02; border: 1px solid #fff}
#home .navbar .nav>li>a:focus, #home .navbar .nav>li>a:hover {color: #45cc02;}
#home .navbar.scrolled .navbar-brand {color: #7b7c7c;}
#home .navbar.scrolled .navbar-toggle .icon-bar {background-color: #45cc02;}
#home .navbar.scrolled .nav .active a {background: #dddddd;}
.hero-content-wrapper .hero-content span.dot {background: #45cc02;}
#home .go-down:hover {background: #7b7c7c; border-color: #45cc02;}

/* About Section */
#about .info-tabs .nav-tabs>li>a {background: #dddddd;}
#about .info-tabs .nav-tabs>li.active>a,
#about .info-tabs .nav-tabs>li.active>a:focus,
#about .info-tabs .nav-tabs>li.active>a:hover,
#about .info-tabs .nav-tabs>li>a:hover {border-color: #7b7c7c;}
#about .info-tabs .tab-content {border: 1px solid #7b7c7c;}

/* Ready Section */
#ready {background:#7b7c7c;}

/* Services Section */
#services .service i:after {box-shadow: 0px 0px 0px 4px #45cc02;}
#services .service:hover i {background: #7b7c7c;}

/* Skills Section */
#skills .skill .chart span.percent {color: #ffe900;}

/* Testimonials Section */
#testimonials .carousel .carousel-indicators li.active {background: #45cc02;}
#testimonials .carousel .carousel-control {border: 1px solid #45cc02;}
#testimonials .carousel .carousel-control:hover {background: #7b7c7c;}

/* Experiences Section */
#experiences .timeline .event .event-left i {color: #7b7c7c;}
#experiences .timeline .event .event-left h4 {background: #7b7c7c;}
#experiences .timeline .event .event-right::before {background: #7b7c7c;}
#experiences .timeline .event .event-right::after {border: 2px solid #7b7c7c;}

/* Contact Section */
#contact form #submit:hover {background: #fff !important; border-color: #fff !important; color: #000;}

/* To Top Button */
#toTop {background: #7b7c7c; border-color: #7b7c7c;}
#toTop:hover {background: #45cc02; border-color: #45cc02;}
/* -------------------------------------
              Media Queries
* ------------------------------------- */
@media (max-width: 991px) {
	/* Adjusting the navbar */
	#home .navbar .nav .active a, #home .navbar .navbar-brand {color: #45cc02;}
	#home .navbar .navbar-toggle .icon-bar {background: #45cc02;}
}
